<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='simple-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='windows-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='winui-icons.slim.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='htmx.min.js') }}"></script>
  </head>
  <body style="visibility: hidden">
    <style>
      * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      body {
        overflow: hidden; /* Hide scrollbars */
      }
      
      .icon-button:hover {
        background-color: lightgray;
      }
    </style>

    <div class="container" style="width: 100%; margin: 0;">
      <div class="row" style="width: 100%;">
        <div class="col-5" style="margin-left: 0; margin-top: 0;">
          {% include 'components/sidebar.html' %}
        </div>
        <div class="col-7">
          <!--
          <div class="row">
            <i class="icons10-cross icon-button" style="float: right;"></i>
          </div>
          -->
          <div class="row">
            <main id="content-area" class="app-page-container has-padding">
              {% block content %}{% endblock content %}
            </main>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>